@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

*{
    font-family: 'Barlow';
}

body{
    background-color: hsl(217, 19%, 24%);
}

.advice-container{
    background-color: hsl(217, 19%, 38%);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    min-width: 21.85rem;
    max-width: 25rem;
}

.advice-id{
    padding: 1rem;
    color: hsl(150, 100%, 66%);
    text-align: center;
}

.advice{
    font-size: 28px;
    color: hsl(193, 38%, 86%);
    margin: 1rem 1.5rem 1rem 1.5rem;
}

button {
    background-image: url(/images/icon-dice.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color:hsl(150, 100%, 66%);
    border: none;
}

button span {
  display: none;
}