@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

*{
    font-family: 'Barlow';
}

html, body{
    height: 100%;
}

body{
    background-color: hsl(220, 22.5%, 15.7%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advice-container{
    background-color: hsl(217, 19%, 24%);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    min-width: 21.85rem;
    max-width: 32rem;
    position: relative;
}

.advice-id{
    padding: 1rem;
    color: hsl(150, 100%, 66%);
    text-align: center;
}

.advice{
    font-size: 28px;
    color: hsl(193, 38%, 86%);
    margin: 1rem 1.5rem 1rem 1.5rem;
    text-align: center;
}

.mobile-divider{
    margin-bottom: 4rem;
}

.desktop-divider{
    margin-bottom: 4rem;
    display: none;
}

button {
    background-image: url(./images/icon-dice.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color:hsl(150, 100%, 66%);
    border: none;
    position: absolute;
    bottom: -25px;
}

button span {
  display: none;
}

@media(min-width: 56.25rem){
    .mobile-divider{
        display: none;
    }
    .desktop-divider{
        display: block;
    }
}